.search {
    margin-bottom: 20px;

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: 100%;
    }

    &__button {
        width: 120px;
    }

    @media (min-width: 576px) {
        &__form {
            flex-direction: row;
        }
    }
}
